<html lang="en">

<section class="speaker-slide">
    <div>
        <h1>Thank you!</h1>
        <div class="speakers">
            <ul class="no-burn">
                <li>
                        <div class="speaker">
                            <img
                                src="/img/speaker/endrest.png"
                                alt="Thomas Endres"
                            />
                            <br />
                            <div class="speaker-name">Thomas Endres</div>
                            <div class="speaker-position">
                                Managing Partner
                            </div>
                            <div class="speaker-awards">
                            thomas.endres@tngtech.com
                        </div>
                        </div>
                    </li>
                <li>
                    <div class="speaker">
                        <img src="/img/speaker/mayerj.png" alt="Jonas Mayer"/>
                        <br/>
                        <div class="speaker-name">
                            Jonas Mayer
                        </div>
                        <div class="speaker-position">
                            Principal Consultant
                        </div>
                        <div class="speaker-awards">
                            jonas.mayer@tngtech.com
                        </div>
                    </div>
                </li>
            </ul>
            <aside class="notes">
                Thank you for your attention!
                Feel free to reach out with any questions.
            </aside>
        </div>
        <div style="text-align: center; margin-top: 60px; width: 1650px ">
            <p style="color:rgb(163, 163, 163); font-weight: 300; margin: 0"> For more Projects and Talks visit</p>
            <p style="margin: -10px" class="inno-hacking-underlined">innovation-hacking.com</p>
        </div>
    </div>
</section>

</html>
